<% if @user.errors.any? %>
  <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for @user do |f| %>

  <%= content_tag :div, class: "row" do %>

    <%= content_tag :div, class: "input-field col s6" do %>
      <%= tag.i "account_box", class: "material-icons prefix" %>
      <%= f.label :first_name %>
      <%= f.text_field :first_name %>
    <% end %>

    <%= content_tag :div, class: "input-field col s6" do  %>
      <%= tag.i "account_box", class: "material-icons prefix" %>
      <%= f.label :last_name %>
      <%= f.text_field :last_name %>
    <% end %>

  <% end %>

  <%= content_tag :div, class: "row" do %>

    <%= content_tag :div, class: "input-field col s12" do %>
      <%= tag.i "email", class: "material-icons prefix"%>
      <%= f.label :email %>
      <%= f.email_field :email %>
    <% end %>

  <% end %>

  <%= content_tag :div, class: "row" do %>

    <%= content_tag :div, class: "input-field col s12" do %>
      <%= tag.i "lock", class: "material-icons prefix" %>
      <%= f.label :password %>
      <%= f.password_field :password %>
    <% end %>

  <% end %>

  <%= content_tag :div, class: "row" do %>

    <%= content_tag :div, class: "col s12" do %>
      <%= f.submit nil, class: "waves-effect waves-light btn" %>
    <% end %>

  <% end %>

<% end %>