<h3><%= @user.first_name %></h3>
<hr>
<br>
<% if !!flash[:notice] %>
  <%= flash[:notice]%>
<% end %>

<% @events.each do |event| %>
  <ul class="collection">
    <li class="collection-item avatar">
      <img src="<%=event.img_url%>" alt="" class="circle">
      <span class="title"><%=link_to event.event_name, event_path(event) %></span>
      <p><strong><%=event.venue_name%></strong><br>
         <%=event.event_description.nil? ? " " : truncate(event.event_description, length: 100, separator: ' ', omission: '...')%>
      </p>
    </li>
  </ul>
<% end %>

<br>
<% if current_user.id == @user.id %>
<%= button_to 'Delete Account', { controller: :users, action: :destroy }, method: :delete %>
<% end %>