<h3><%= @user.full_name %></h3>
<hr>
<br>
<% if !!flash[:notice] %>
  <%= flash[:notice]%>
<% end %>

<% @events.each do |event| %>
  <ul class="collection">
    <li class="collection-item avatar">
      <% if event.api_id.nil? %>
        <%= image_tag(event.image, alt:"", class:"circle") %>
      <%else%>
        <img src="<%=event.img_url%>" alt="" class="circle">
      <%end%>
      <span class="title"><%=link_to event.event_name, event_path(event) %></span>
      <p><strong><%=event.venue_name%></strong><br>
         <%=event.event_description.nil? ? " " : truncate(event.event_description, length: 100, separator: ' ', omission: '...')%>
      </p>
    </li>
  </ul>
<% end %>

<br>

<%= button_to 'Delete Account', { controller: :users, action: :destroy }, method: :delete,
              data: { confirm: 'This action is irreversible are you sure?' },
              class: "btn waves-effect waves-light red accent-3" if current_user.id == @user.id %>
