<h2>Create an Event!</h2>

<%= form_for @event do |f| %>
      <%= f.label :event_name %>
      <%= f.text_field :event_name %>

      <%= f.label :venue_name%>
      <%= f.text_field :venue_name %>

      <%= f.label :address %>
      <%= f.text_field :address %>

      <%= f.label :phone %>
      <%= f.text_field :phone %>

      <%= f.label :directions %>
      <%= f.text_field :directions %>

      <%= f.label :neighborhood %>
      <%= f.collection_select :neighborhood, @locations, :first.to_s, :first.to_s %>

      <%= f.label :opening_hour %>
      <%= f.text_field :opening_hour %>

      <%= f.label :closing_hour %>
      <%= f.text_field :closing_hour %>

      <%= f.label :event_description %>
      <%= f.text_area :event_description %>

      <%= f.label :img_url %>
      <%= f.text_field :img_url %>

      <%= f.label :admission %>
      <%= f.text_field :admission %>

      <%= f.label :date_start %>
      <%= f.date_field :date_start, class: 'datepicker' %>

      <%= f.label :date_end %>
       <%= f.date_field :date_end, class: 'datepicker' %>

      <%= f.label :venue_type %>
      <%= f.text_field :venue_type %>

      <%= f.submit nil, class: "waves-effect waves-light btn" %>

<% end %>