<br>
<h3><%= @event.event_name %></h3>
<br>
<img src="<%= @event.img_url %>" class="responsive-img" alt="">

<p><b>Venue: </b><%= @event.venue_name %></p>

<p><b>Address: </b><%= @event.address %></p>

<p><b>Neighborhood: </b><%= @event.neighborhood %></p>

<p><b>Directions: </b><%= @event.directions %></p>

<p><b>Phone: </b><%= @event.phone %></p>

<p><b>Opening Hour: </b><%= @event.opening_hour %></p>

<p><b>Closing Hour: </b><%= @event.closing_hour %></p>

<p><b>Start Date: </b><%= @event.date_start.strftime("%B %d, %Y") %></p>

<p><b>End Date: </b><%= @event.date_end.strftime("%B %d, %Y") %></p>

<p align="justify"><b>Description: </b><%= @event.event_description %></p>
<br>
<%#= link_to "Save Event", user_path(current_user), class: "waves-effect waves-light btn"  %>
<% if @event.image.attachment %>
  <%= image_tag @event.image %>
<% end %>

<% if @user_events.include?(@event.id) %>
  <%= form_tag({controller: "user_events", action: "destroy"}, method: "delete") do %>
    <%= hidden_field_tag :event_id, @event.id %>
    <%= submit_tag "Remove Event", class: "waves-effect waves-light btn"%>
  <% end %>
<%else%>
  <%= form_tag user_events_path, method: :post  do %>
  <br> <br>
    <%= hidden_field_tag :event_id, @event.id %>
    <%= submit_tag "Save Event", class: "waves-effect waves-light btn" %>
  <% end %>
<% end %>
  <br><br>

<%= content_tag :div, class: "row" do %>

  <% if @usercreateevent&.user_id == current_user.id %>
    <%= button_to "edit", edit_event_path, method: :get, class: "waves-effect waves-light btn col s3" %>
  <% end %>

  <% if @usercreateevent&.user_id == current_user.id %>
    <%= button_to "delete", @event, method: :delete, class: "waves-effect waves-light btn col s3 offset-s2" %>
  <% end %>
<% end %>
<br><br><br>
