<h3><%= @event.event_name %></h3>

<%#= link_to "Save Event", user_path(current_user), class: "waves-effect waves-light btn"  %>

<% if @user_events.include?(@event.id) %>
  <%= form_tag({controller: "user_events", action: "destroy"}, method: "delete") do %>
    <%= hidden_field_tag :event_id, @event.id %>
    <%= submit_tag "Remove Event", class: "waves-effect waves-light btn"%>
  <% end %>
<%else%>
  <%= form_tag user_events_path, method: :post  do %>
    <%= hidden_field_tag :event_id, @event.id %>
    <%= submit_tag "Save Event", class: "waves-effect waves-light btn" %>
  <% end %>
<% end %>

