<!DOCTYPE html>
<html>
  <head>
    <title>ArtEventPlanner</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> 
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= content_tag :nav do %>

      <%= content_tag :div, class: "nav-wrapper" do %>
        <%= link_to 'Home', home_path %>

        <%= content_tag :ul, class: "right hide-on-med-and-down" do %>
          <%= content_tag :li do %>
            <%= link_to 'Login', new_session_path, class: "waves-effect waves-light btn" %>
            <%= link_to 'Signup', new_user_path, class: "waves-effect waves-light btn" %>
          <% end %>
        <% end %>

      <% end %>

    <% end %>

    <div class="container">
      <%= yield %>
    </div>

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
        $(document).ready(function(){
            $('select').formSelect();
        });
    </script>

  </body>

</html>
